# Copy this file to .env and fill in your values
# Or, fill in .env values in the Docker Compose

# --- Required ---
#PAPERLESS_URL=http://paperless-ngx:8000
#PAPERLESS_TOKEN=your_paperless_token_here
#LLM_API_KEY=your_api_key_here

# --- Optional ---
# LLM_BASE_URL=https://openrouter.ai/api/v1
# MODEL=google/gemini-3.1-flash-lite-preview
# TRIGGER_TAG_NAME=Run LLM OCR
# PROCESSED_TAG_NAME=OCR Done
# MAX_TOKENS=4096
# CUSTOM_PROMPT=Your custom prompt here
